{% extends 'base.html.twig' %}

{% block brand %}
    Page <span data-bind="text: urls.page() + 1"></span>
    of <span data-bind="text: urls.pageCount"></span>
    (Total URLs: <span data-bind="text: urls.source().length"></span>)
{% endblock %}

{% block body %}
    <div id="container" class="container">
        <div class="row">
            <div class="col-sm-3 list-group">
                <a class="list-group-item" href="{{ path('app_list_urls', {'page': 1}) }}">All Domains</a>
                <div class="list-group-item">
                    <input type="text" class="form-control" data-bind="value: domainFilter, valueUpdate: 'keyup'"/>
                </div>
                <!-- ko foreach: domains -->
                <a data-bind="
                attr: { href: url },
                click: $parent.loadUrls,
                css: { active: name == $parent.currentDomain() }"
                   class="list-group-item">
                    <span data-bind="text: name"></span>
                    <span class="badge" data-bind="text: count"></span>
                </a>
                <!-- /ko -->
                <div class="list-group-item">
                    <div class="btn-group">
                        <a type="button"
                           class="btn btn-primary"
                           data-bind="
                           click: domains.previousPage,
                           enable: domains.hasPreviousPage,
                           css: {disabled: !domains.hasPreviousPage()}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                        <a type="button"
                           class="btn btn-primary"
                           data-bind="
                           click: domains.nextPage,
                           enable: domains.hasNextPage,
                           css: {disabled: !domains.hasNextPage()}">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 list-group">
                <div class="list-group-item">
                    <input type="text" class="form-control" data-bind="value: urlFilter, valueUpdate: 'keyup'"/>
                </div>
                <!-- ko foreach: urls -->
                <a class="list-group-item"
                   target="_newtab"
                   data-bind="
                   attr: { href: url },
                   text: url,
                   click: $parent.visitUrl,
                   css: {disabled: gone, hidden: deleted}"></a>
                <!-- /ko -->
                <div class="list-group-item">
                    <div class="btn-group">
                        <a type="button"
                           class="btn btn-primary"
                           data-bind="
                           click: urls.previousPage,
                           enable: urls.hasPreviousPage,
                           css: {disabled: !urls.hasPreviousPage()}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </a>
                        <a type="button"
                           class="btn btn-primary"
                           data-bind="
                           click: urls.nextPage,
                           enable: urls.hasNextPage,
                           css: {disabled: !urls.hasNextPage()}">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let data = {{ jsonData|json_encode|raw }};
    </script>
    <script src="{{ asset('js/knockout.min.js') }}"></script>
    <script src="{{ asset('js/filtered.js') }}"></script>
    <script src="{{ asset('js/paged.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
